.article
    .article-text(data-number="02")
        .article-subtitle Hiking Essentials
        h2.article-title Picking the right Hiking Gear!
        p The nice thing about beginning hiking is that you don’t really need any special gear, you can probably get away with things you already have. Let’s start with clothing. A typical mistake hiking beginners make is wearing jeans and regular clothes, which will get heavy and chafe wif they get sweaty or wet.
        a.article-read-more(href="#") read more

    .article-image
        img(src="../../img/02.jpg" alt="image_02")