.footer-copyright
    .footer-copyright-logo
      .logo MNTN
    p.footer-copyright-desc Get out there & discover your next slope, mountain & destination!
    p.footer-copyright-terms Copyright 2022 MNTN, Inc. Terms & Privacy
