.footer-nav
    h4.footer-nav-title More on The Blog
    ul
        li
            a About MNTN
        li
            a Contributors & Writers
        li
            a  Write For Us
        li
            a  Contact Us
        li
            a Privacy Policy